.container {
  border: 2px solid #333;
  display: inline-block;
  background-color: #555;
}

/* Estilo para los botones */
button {
  color: #fff;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 3px;
}

/* Cambia el color del fondo al pasar el ratón */
button:hover {
  background-color: #333;
}

/* Estilo para el canvas */
canvas {
  width: 100%;
  background-color: white;
}


