<div>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="/css/estilos-adicionales.css">

 <div class="container">
    <button id="PlayPause{{id}}"><i class="material-icons">play_arrow</i></button>
    <button id="Reiniciar{{id}}"><i class="material-icons">replay</i></button>
    <button id="Minimizar{{id}}">─</button>
    <canvas id="myCanvas{{id}}" width="0" height="0"></canvas>
 </div>


 <script type="module"> 
  import init from "{{ruta}}";
  init("{{id}}").catch(console.error);
 </script>
</div>
