<div>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="/css/estilos-adicionales.css">

 <div class="container">
    <button id="PlayPause{{id}}"><i class="material-icons">play_arrow</i></button>
    <button id="Reiniciar{{id}}"><i class="material-icons">replay</i></button>
    <button id="Minimizar{{id}}">─</button>
    <canvas id="myCanvas{{id}}" width="1200" height="0" tabindex='1'></canvas>
 </div>


 <script type="module"> 
 import init, {start_system} from "/{{carpeta}}/{{ruta}}/{{ruta}}.js";
  init().then(() => {start_system("{{id}}");});
 </script>
</div>
