{% extends "blow/templates/index.html" %}

{% block projects %}
{% set content_parts = section.content | split(pat="???????") %}

<div>
  <!-- primera parte del contenido -->
  {{ content_parts[0] | safe }}
</div>

<div class="flex items-center flex-col"> 
  <div class="flex flex-col gap-y-6 ">
    {% if paginator %}
    {% set pages = paginator.pages %}
    {% else %}
    {% set pages = section.pages %}
    {% endif %}


    {% for page in pages %}
    {% if page.extra.highlight == true %}
    <div class="border border-2 border-blog-selector dark:border-black rounded-xl p-5 shadow-2xl transform transition duration-500 hover:scale-105 bg-blog-selector dark:bg-gray-800 flex items-center">
        
      <!-- Contenido a la izquierda -->
      <div class="flex flex-col py-2 justify-center w-2/3"> <!-- Cambiado a w-2/3 -->
        <h2 class="text-2xl font-bold"><a href='{{ page.permalink }}'>{{ page.title }}</a></h2>
        <p class="font-bold">{{ page.description }}</p>
           
        <!-- Summary -->
        <div class="font-bold mt-2">
          {{ page.summary | safe }}
          <a class="flex py-2" href='{{ page.permalink }}'>
            Leer más
            <svg class="w-6 h-6 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
            </svg>
          </a>
        </div>
      </div>
    
      {% if page.extra.imagenurl %}
      <div class="w-1/3 flex justify-end ml-4">
        <img class="rounded-md object-cover max-w-[150px] h-auto blog-image" src="{{ page.extra.imagenurl }}" alt="Imagen del post"> <!-- Ajustes de tamaño fijo -->
      </div>
      {% endif %}
    </div>
  {% endif %}
  {% endfor %}
  </div>
</div>


<div>
  <p></p>
  <!-- segundaparte del contenido -->
  {{ content_parts[1] | safe }}
</div>

{% endblock %}
